@font-face {
    font-family: "JetBrainsMono";
    src: url('../../assets/fonts/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f8f9fa;
    font-family: 'JetBrainsMono';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    max-width: 800px;
}

.card {
    margin-bottom: 20px;
}

#resistorList {
    max-height: 200px;
    overflow-y: auto;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-btn {
    cursor: pointer;
    color: red;
    font-weight: bold;
}